<header class="home-header d-flex flex-column justify-content-center animated fadeIn">
  <div class="container text-center text-muted animated slideInLeft delay-1s">
    <h1><i>Welcome To Dark House Studio!</i></h1>
    <h3>It's Nice To Meet You</h3>
    <a class="btn btn-outline-warning btn-lg" href="#">Tell Me More</a>
  </div>
</header>
<div class="container">
  <div class="text-center mt-5 mb-5">
    <h1>About us</h1>
  </div>
  <div class="row">
    <div class="col-12 col-md-7">
      <h2>First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-12 col-md-5">
      <img class="w-100" src="http://www.kangraconstruction.com/images/website/889739Life-Coach-Insights-Life-Architect-753x570-HG-325469.jpg"/>
    </div>
  </div>
  <hr class="mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-md-5">
      <img class="w-100" src="http://images.jdmagicbox.com/def_content/architects/default-architects-0.jpg"/>
    </div>
    <div class="col-12 col-md-7">
      <h2>Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>
  <hr class="mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-md-7">
      <h2>And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-12 col-md-5">
      <img class="w-100" src="https://www.renmarkhomes.com.au/wp-content/uploads/Fotolia_44178156_S.jpg"/>
    </div>
  </div>
</div>
<!--
<div class="container">
  <div class="row">
  <% @news.each do |news| %>
    <div class="col-12 col-md-4">
      <h5><%= news.title %></h5>
      <%= cl_image_tag(news.image, :transformation => { :width => 400, :crop => "fit" }, :class => "w-100")  %>
      <div><%= news.sort_content %> <a href="/admin/news/<%= news.id %>">Read more</a></div>
    </div>
  <% end %>
  </div>
</div>
-->
