<header class="home-header d-flex flex-column justify-content-center animated fadeIn">
  <div class="container text-center text-muted animated slideInLeft delay-1s">
    <h1><i>Welcome To Dark House Studio!</i></h1>
    <h3>It's Nice To Meet You</h3>
    <a class="btn btn-outline-warning btn-lg" href="#">Tell Me More</a>
  </div>
</header>
<!--
<div class="container">
  <div class="row">
  <% @news.each do |news| %>
    <div class="col-12 col-md-4">
      <h5><%= news.title %></h5>
      <%= cl_image_tag(news.image, :transformation => { :width => 400, :crop => "fit" }, :class => "w-100")  %>
      <div><%= news.sort_content %> <a href="/admin/news/<%= news.id %>">Read more</a></div>
    </div>
  <% end %>
  </div>
</div>
-->