<div class="container">
  <div class="row">
  <% @news.each do |news| %>
    <div class="col-12 col-md-4">
      <h5><%= news.title %></h5>
      <%= cl_image_tag(news.image, :transformation => { :width => 400, :crop => "fit" }, :class => "w-100")  %>
      <div><%= news.sort_content %> <a href="/admin/news/<%= news.id %>">Read more</a></div>
    </div>
  <% end %>
  </div>
</div>